{% extends 'hospital/homebase.html' %}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px black;
}

{% block content %}

<br><br><br><br><br><br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Patient</h1>
  <p class="lead">Welcome to Cloud Hospitals! </p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-dark" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-dark" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
